
/node_modules/
/dist/
/yacv_server/frontend/
/.cache/
/.parcel-cache/
/.idea/
/parcel-bundle-reports/
/screenshots/
/test-results/
/playwright-report/
/.venv/
/.e2e_control_port
/yacv_server/frontend/yacv_wheel/
*.iml
venv/
__pycache__/
