# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
/node_modules/
/dist/
/.cache/
/.parcel-cache/
/.idea/
/parcel-bundle-reports/

# TODO: Figure out if we want to keep a big default skybox image in the repo
/assets/st_peters_square_night_8k.jpg
/assets/fox.glb
/yacv_server/logo/*.glb

*.iml
venv/
