[tool.poetry]
name = "yacv-server"
version = "0.9.0"
description = "Yet Another CAD Viewer (server)"
authors = ["Yeicor <4929005+Yeicor@users.noreply.github.com>"]
license = "MIT"
readme = "README.md"
include = [
    { path = 'yacv_server/frontend/*', format = 'wheel' },
    { path = 'yacv_server/frontend/*', format = 'sdist' },
]

[tool.poetry.dependencies]
python = "^3.9"

# CAD
build123d = ">=0.5,<0.8"

# Misc
pygltflib = "^1.16.2"
pillow = "^10.2.0"

[tool.poetry.build]
generate-setup-file = false
script = "build.py"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
